---
import Bento from '../components/Bento.astro';
import Intro from '../components/Intro.astro';
import Video from '../components/Video.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Premios ESLAND 2024 - Cebrando lo mejor de streaming y los creadores de contenido" description="Descubre a los mejores creadores de contenido de España, latinoamerica y Andorra. !Vota por tus favoritos¡ Celebrala Inovacion y el talento de Twitch, Yootube y mas ">

	<Video />
	<main>
		<Intro />
		<Bento />
	
	</main>
</Layout>

<style>
	
	
</style>
