<section class="w-full p-20 max-w-[1400px] mx-auto">
  <h3
    class="uppercase text-4xl text-center tracking-wide font-semibold mb-10 text-balance mx-auto"
  >
    Musica de los ESLAND
  </h3>


<lite-youtube
  class="shadow-2xl shadow-white/10 rounded-xl"
  videoid="KtczymR4SnA"
  videotitle="Musica de los ESLAND"
>
</lite-youtube>
</section>
<script>
  import "@justinribeiro/lite-youtube";
</script>
